select,
textarea,
input,
button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.hero_bgImage {
  background: linear-gradient(rgba(96, 165, 250, 0.8), rgba(129, 140, 248, 0.8)),
    url("heroImage.jpg");
  background-blend-mode: normal;
  background-position: center;
}
