 <div class=" p-4 rounded-lg mt-8 animate-fade" data-controller="removals" data-action="animationend->removals#remove">
   <p data-test="notice" class="text-green-500 bg-black rounded-lg px-4"><%= notice %></p>
   <p data-test="alert" class="text-red-500 bg-black rounded-lg px-4"><%= alert %></p>
 </div>